{% extends "base.html" %}
{% block title %} Configuration {% endblock %}

{% block body %}
    <form method="post" action="/config" >
        <div class="form-group">
            <h3 align="center" > Configuration Page</h3>
            <label for="red">Set time red</label>
            <input type="text" placeholder= "Leave this spot empty if want default" id="red" name="red">
            <br>
            <label for="red">Set time yellow</label>
            <input type="text" placeholder= "Leave this spot empty if want default" id="yellow" name="yellow">
            <br>
            <label for="green">Set time green</label>
            <input type="text" placeholder= "Leave this spot empty if want default" id="green" name="green">
            <br>
            <input type="button" value="Shutdown" id="shutdown" name="shutdown"  formaction="/shutdown" >
            <br>
            <input type="button" value="Start" id="start" name="start" formaction="/start" >
            <br>
            <input type="submit" value="Configure" name="configure" >
            
        </div>
    </form>


{% endblock %}
