{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}
<div id="traffic-light">
    <div id="stopLight" class="bulb" ></div>
    <div id="slowLight" class="bulb"></div>
    <div id="goLight" class="bulb"></div>
</div>

    {% if command == "shutdown"%}
        {{mdebug(Shut down)}}
    {% endif%} %}


    {% if command == "start"%}
        {{mdebug(Start)}}
    {% endif%} %}

{% endblock %}


