<!DOCTYPE html>
<html>

<head lang="it">
    <title>Starting Page</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="form-box">
        <form action="#" method="post">
            <input type="email" name="email" placeholder="Email" requested />
            <input type="password" name="password" placeholder="password" requested />
            <input type="submit" name="submit" value="Login" />
        </form>
    </div>
</body>

</html>