
body{
    margin: 0;
    padding: 0;
    background: #0c373f;
    width:100vw;
    height:100vh;
}

.form-box {
    background-color: red;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    left: 25%;
    
}
form{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: yellow;
}

input{
    height: 25px;
    width: 150px;
}



