{%extends "body_layout.html"%}

{% block body%}

    <h1>Enter your login credentials</h1>
    <h2 >Fill all the boxes</h2>

    <form action="#" style="background-color: rgb(194, 224, 220);">
        <input type="text" placeholder="Name" name= "name" required>
        <br>
        <input type="text" placeholder= "Surname" name="Surname" required>
        <br>
        <input type="email" placeholder="Email" name="email" required>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

