{%extends "body_layout.html"%}

{% block body%}

    <h1>Hello, World</h1>
    <h2 bold>It's time to go with the flow</h2>


    <form action="#">
        <input type="text" placeholder="Name" name= "name" required>
        <br>
        <input type="text" placeholder= "Surname" name="Surname" required>
        <br>
        <input type="email" placeholder="Email" name="email" required>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

